<h1> About Page </h1>

<p> I will put stuff in here or add to CMS! </p>

<p> Inspiration </p>
<p>
	<a href="http://www.manrepeller.com/"/> Man Repeller - for blog content, fonts, layout, social media
	<p>
	<a href="http://explorecreaterepeat.com/"/> Interesting combo of split screen. <p>maybe we could like do half of the screen with clothing you can buy and the other half a blog?</p>
	<p>
	<a href="https://www.everlane.com/whereitravel"/> I like the store and the nav bar
	<p>
	<a href="http://ashleygwilliams.github.io/ratpack/"/> Hipster chick from school but i like the use of opacity
	<p>
	<a href="http://www.nextr.info/"/> should but a nice embedded video like on the current stylists.stunable page for the Stunable Sync page
	<p>
	<a href="http://fltdsgn.com/"/> FLAT DESIGN <p> the hottest design trend right now is flat design.. idk why </p>

<h1> still need to do </h1>
<li>
	<ul>add cms to site for editing blog, about page, etc. (refinery, monologue - search "mountable engine") </ul>
	<ul>scroll bars, drop down menu?</ul>
	<ul>social media elements </ul>
	<ul>make nav bar dynamic (i.e only elements you are not on show up when you are on a page. so if you're on blog you obvi don't see it) </ul>
	<ul>dual browsing product view thing? little cart on top to remind people they can shop? see example </ul>
	<ul>design is heinous need lizzy's help! but the good news is i wasted all my time playing around so it will be efficient now opacity is the devil</ul>
	<ul>connect products model to store controller </ul>
	<ul>make the store work - design layout at least, then hook up to stunable sync backend when ready </ul>
	<ul>video and info for stunable sync. when it's ready we will connect stunable sync directly to this app at stunable.com/sync or redirect to stunablesync.com --> i think it's good for it to be in two places </ul>
	<ul>set up servers, deploy, specify dev and production environments etc  </ul>

