<h1> Stunable Sync Page</h1>

<p> I will put stuff in here or add to CMS! </p>

<p> A video would be really good for this like here: <a href="http://www.nextr.info/"></a> </p>

<p> Probably just info and cool infographics about Stunable Sync and then like either the fully embedded app as stunable.com/sync (which i think would be better) or a redirect to the app hosted on stunablesync.com </p>