/*
             .                                      .o8       oooo            
           .o8                                     "888       `888            
 .oooo.o .o888oo oooo  oooo  ooo. .oo.    .oooo.    888oooo.   888   .ooooo.   
d88(  "8   888   `888  `888  `888P"Y88b  `P  )88b   d88' `88b  888  d88' `88b 
`"Y88b.    888    888   888   888   888   .oP"888   888   888  888  888ooo888 
o.  )88b   888 .  888   888   888   888  d8(  888   888   888  888  888    .o       
8""888P'   "888"  `V88V"V8P' o888o o888o `Y888""8o  `Y8bod8P' o888o `Y8bod8P'  

      ==jgs==!====!=====!=====!====!===!===!=====!===!===!====
           /`\__/`\   /`\   /`\  |~| |~|  /)=I=(\  /`"""`\
          |        | |   `"`   | | | | |  |  :  | |   :   |
          '-|    |-' '-|     |-' )/\ )/\  |  T  \ '-| : |-'
            |    |     |     |  / \// \/  (  |\  |   ___
            '.__.'     '.___.'  \_/ \_/   |  |/  /
                                          |  /  /
                                          |  \ /
                                          '__'`

                                                                              
                                                                              */
                                                                                                        
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Text+Me+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body{
 /* text-align: center;*/
  color: #ffffff;
  }
  
  .floating-container{
    margin: 0 auto;
    width:90%;
    left:4em;
    border:5px solid #e6e6e6;
    background-color: #000000;
    position:fixed;
    top:100px;
    z-index: 100000;
    opacity: .8;
  }

  .floating-container .inner-content{
    padding:15px;
  }

  .background{
    background:#F4F4F4 url("background.png");
    background-repeat:no-repeat;
    position:relative;
  }

  .nav{
    width:100%;
    left:290px;
    border-bottom:1px solid #A8A8A8;
    background-color: #000000;
    position:fixed;
    height: 67px;
    top:-8px;
    z-index: 100000;
    opacity: .6;
  }

  .nav .nav-links{
    font-family: 'Josefin Sans';
/*    font-family: 'Text Me One';*/
/*    font-family: 'Open Sans Condensed';*/
    font-size: 30px;
    color:#7f10b5;
    text-transform: uppercase;
}

  .table{
    border-spacing: 10px;
  }
  
  .logo{
    position:fixed;
    top:-9px;
    left:-7px;
    border-right: 2px;
    border-top: 2px;
    border-bottom: 1px;
    padding-right:5px;
    padding-top:5px;
  }

  .banner{
    background: #8A2BE2;
    padding: 10px;
    border-bottom: 2px solid;
    font-family: 'Freckle Face', cursive;
    font-size: 140px;
    color: #FFFFFF;
    text-align: center;

    img {
      float: left;
    }
  }