/*
             .                                      .o8       oooo            
           .o8                                     "888       `888            
 .oooo.o .o888oo oooo  oooo  ooo. .oo.    .oooo.    888oooo.   888   .ooooo.   
d88(  "8   888   `888  `888  `888P"Y88b  `P  )88b   d88' `88b  888  d88' `88b 
`"Y88b.    888    888   888   888   888   .oP"888   888   888  888  888ooo888 
o.  )88b   888 .  888   888   888   888  d8(  888   888   888  888  888    .o       
8""888P'   "888"  `V88V"V8P' o888o o888o `Y888""8o  `Y8bod8P' o888o `Y8bod8P'  

      ==jgs==!====!=====!=====!====!===!===!=====!===!===!====
           /`\__/`\   /`\   /`\  |~| |~|  /)=I=(\  /`"""`\
          |        | |   `"`   | | | | |  |  :  | |   :   |
          '-|    |-' '-|     |-' )/\ )/\  |  T  \ '-| : |-'
            |    |     |     |  / \// \/  (  |\  |   ___
            '.__.'     '.___.'  \_/ \_/   |  |/  /
                                          |  /  /
                                          |  \ /
                                          '__'`

                                                                              
                                                                              */

/*                                                                              
*= require_self
*= require_tree . */  
                                                                                                        
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Text+Me+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);


blog {
  
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font-family: 'EB Garamond', serif;
    font: 150%;
    color: #226;
    border-bottom: 3px dotted #77d;
  }

  /* An entry or blog post */
  .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #77d;
    min-height: 100px;

    img {
      width: 80px;
      margin-right: 5px;
      margin-bottom: 5px;
      position: absolute;
    }

    h3 {
      font-family: 'EB Garamond', serif;
      font-size: 150%;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #227;
    }

    p, div.by_author {
      margin: 0;
      padding-bottom: 0.5em;
      font-family: 'EB Garamond', serif;
      font-size: 120%;
      font-weight:lighter;
      color:#ffffff;
    }

    .entry-date {
      font-family: 'Josefin Sans';
      font-size: 150%;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #7f10b5;


    }

    .author {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
      font-size: 10px;
    }
  }
}